<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishAot>false</PublishAot>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>None</DebugType>
    <PublishDir>$(MSBuildProjectDirectory)\artifacts\publish\win-x64\</PublishDir>
  </PropertyGroup>
</Project>
